* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(21, 22, 26);
  min-height: 100vh;
  color: #fff;
}

h1 {
  width: fit-content;
  margin: 8px auto;
}

.sliderContainer {
  display: flex;
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin: 40px auto;
  /* border: 2px solid #f48f42; */
  border-radius: 5px;
  position: relative;
}

.images-container {
  display: flex;
  white-space: no-wrap;
  height: 500px;
  width: 10000px;
  position: relative;
  /* left: -1000px; */
  /* transform: translateX(-1000px); */
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.images-container img {
  display: inline-block;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.btn {
  padding: 10px 15px;
  background: #fefefe85;
  position: absolute;
  backdrop-filter: blur(15px);
  top: 45%;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.btn:hover {
  background: #898888a8;
}